social-sharer[unresolved] {
	opacity: 0;
}

/**
 * Common rules
 */

.square /deep/ ul.social-sharer,
.circle /deep/ ul.social-sharer,
.dark /deep/ ul.social-sharer,
.label /deep/ ul.social-sharer {
	margin: 0;
	padding: 0;
	list-style: none;
}

.square /deep/ ul.social-sharer > li,
.circle /deep/ ul.social-sharer > li,
.dark /deep/ ul.social-sharer > li,
.label /deep/ ul.social-sharer > li {
	display: inline-block;
	margin-right: 10px;
}

.square /deep/ ul.social-sharer > li > a,
.circle /deep/ ul.social-sharer > li > a,
.dark /deep/ ul.social-sharer > li > a {
	display: block;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;

	/* hide the text */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.square /deep/ ul.social-sharer > li:last-of-type,
.circle /deep/ ul.social-sharer > li:last-of-type,
.dark /deep/ ul.social-sharer > li:last-of-type,
.label /deep/ ul.social-sharer > li:last-of-type {
	margin-right: 0;
}

.square /deep/ ul.social-sharer > li.facebook > a,
.circle /deep/ ul.social-sharer > li.facebook > a,
.label /deep/ ul.social-sharer > li.facebook > a {
	background-color: rgb(59, 89, 152);
	box-shadow: 1px 1px 1px rgb(59, 89, 152);
}

.square /deep/ ul.social-sharer > li.twitter > a,
.circle /deep/ ul.social-sharer > li.twitter > a,
.label /deep/ ul.social-sharer > li.twitter > a {
	background-color: rgb(0, 172, 237);
	box-shadow: 1px 1px 1px rgb(0, 172, 237);
}

.square /deep/ ul.social-sharer > li.googleplus > a,
.circle /deep/ ul.social-sharer > li.googleplus > a,
.label /deep/ ul.social-sharer > li.googleplus > a {
	background-color: rgb(209, 72, 54);
	box-shadow: 1px 1px 1px rgb(209, 72, 54);
}

.square /deep/ ul.social-sharer > li.facebook > a,
.circle /deep/ ul.social-sharer > li.facebook > a,
.dark /deep/ ul.social-sharer > li.facebook > a,
.label /deep/ ul.social-sharer > li.facebook > a {
	background-image: url(http://srchea.com/apps/web-component-social-sharer/images/icons/facebook-512.png);
}

.square /deep/ ul.social-sharer > li.twitter > a,
.circle /deep/ ul.social-sharer > li.twitter > a,
.dark /deep/ ul.social-sharer > li.twitter > a,
.label /deep/ ul.social-sharer > li.twitter > a {
	background-image: url(http://srchea.com/apps/web-component-social-sharer/images/icons/twitter-512.png);
}

.square /deep/ ul.social-sharer > li.googleplus > a,
.circle /deep/ ul.social-sharer > li.googleplus > a,
.dark /deep/ ul.social-sharer > li.googleplus > a,
.label /deep/ ul.social-sharer > li.googleplus > a {
	background-image: url(http://srchea.com/apps/web-component-social-sharer/images/icons/googleplus-512.png);
}

/**
 * Flat square
 */

.square /deep/ ul.social-sharer > li > a {
	transition: background-size .2s linear, border-radius .2s linear, padding .2s linear;
}

.square /deep/ ul.social-sharer > li > a {
	background-size: 75%;
}

.square /deep/ ul.social-sharer > li > a:hover {
	background-size: 90%;
}

/**
 * Flat rounded
 */

.circle /deep/ ul.social-sharer > li > a {
	border-radius: 64px;
	transition: transform .2s linear, border-radius .2s linear, padding .2s linear;
}

.circle /deep/ ul.social-sharer > li > a {
	background-size: 90%;
}

.circle /deep/ ul.social-sharer > li > a:hover {
	transform: rotate(20deg);
}

/**
 * Dark
 */

.dark /deep/ ul.social-sharer > li {
	background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border-radius: 64px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.dark /deep/ ul.social-sharer > li > a {
	background-size: 90%;
	transition: transform .2s linear, border-radius .2s linear, padding .2s linear;
}

.dark /deep/ ul.social-sharer > li.facebook:hover {
	background: rgb(59, 89, 152);
}

.dark /deep/ ul.social-sharer > li.twitter:hover {
	background: rgb(0, 172, 237);
}

.dark /deep/ ul.social-sharer > li.googleplus:hover {
	background: rgb(209, 72, 54);
}

/**
 * Label
 */

.label /deep/ ul.social-sharer {
	font-family: Arial, sans-serif;
}

.label /deep/ ul.social-sharer > li > a:hover {
	padding: 6px 32px 6px 64px;
}

.label /deep/ ul.social-sharer > li > a {
	display: block;
	padding: 6px 6px 6px 32px;
	background-position: left center;
	background-size: 32px;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #fff;
	transition: background-color .2s linear, padding .2s linear;
}